.gradle/
build/
.vscode/

# Intellij IDEA
/.idea/
/bin/

# Eclipse
*.classpath
*.project

# ignore macOS files
.DS_Store

# FitPlannerDir - Stores persistent data, but we don't want it in the repo
#  - Used by TrainerListFileStorage (Stovall)
FitPlannerData/
